@charset "utf-8"; /* 인코딩 셋 명시적으로 지정 */

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 바디 */
body {
  background: #ffffff;
  color: #222328;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 헤더 영역 */
header {
  width: 1200px;
  height: 100px;
  background: #723ffb;
  display: flex;
  justify-content: space-between; /* 요소 사이에 일정한 간격으로 가로 정렬 */
  flex-flow: row nowrap;  /* row가 부모 넓이보다 클 경우 다음 줄에 정렬 */
  text-align: center;
}
/* 로고 */
.logo{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  display: block;
}
/* 네비게이션 바 */
nav {
  display: block;
}
/* 메인 메뉴 */
.mainMenu {
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.mainMenu li{
  display: flex;
  flex-direction: row;  /* flex 방향 지정 */
  flex-wrap: nowrap;
  overflow: hidden; /* 넘치는 부분 자르기 */
}
.mainMenu > li > a {
  width: 200px;
  display: flex; 
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
/* 서브 메뉴 */
.submenu {
  display: none;
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 70px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
.submenu > li {
  font-size: 14px;
  height: 40px;
}
.submenu > li > a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.mainMenu li:hover .submenu{
  display: block;
  animation-name: showdown;
  animation-duration: 1s;
  z-index: 10;
}
@keyframes showdown { /* 서브메뉴가 메인메뉴 위에서 아래로 트랜스폼 */
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


/* 이미지 슬라이드 */
#imgSlide{
  position: relative;
  height: 300px;
}
#imgSlide a{
  position: absolute;
  transition: all 1s;
}
img{
  overflow-clip-margin: content-box;
  overflow: clip;
}
.imgText {
  position: absolute;
  top: 40%;
  left: 40%;
  margin: -10px -50px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 16px 100px;
  font-weight: bold;
}


/* 공지사항, 갤러리, 배너, 바로가기 묶음 */
.contents {
  height: 200px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}


/* 탭 메뉴 */
.tabMenu {
  display: flex;
}
.tabMenu>li>a {
  padding: 0 10px;
  min-width: 85px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  background: #eeeeee;
  border: 1px solid #dddddd;
}
.tabMenu>li.active>a {
  font-weight: bold;
  background-color: #ffffff;
}
.tabMenu>li.active div {
  border: 1px solid #dddddd;
  z-index: 1;
}
.tabBG {
  position: absolute;
  width: 33.3%;
  height: 168px;
  background: #ffffff;
}
/* 공지사항 */
.notice{
  border: 1px solid #ccc;
}
.notice ul {
  padding: 10px 0;
}
.notice ul li {
  padding: 8px 20px;
  margin: 0 10px;
  font-size: 14px;
}
.notice li span {
  float: right;
}
.notice li:nth-child(even) {
  background: rgba(114, 63, 251, 0.1);
}
/* 갤러리 */
.gallery{
  left: 0;
}
.gallery ul{
  display: flex;
  justify-content: space-around;  /* 요소들 주위에 동일한 간격으로 가로 정렬 */
  align-items: center;
  height: 100%;
}


/* 배너 */
.banner{
  background: url(../resource/Contents/banner/banner.jpg);
  margin: 0 15px;
}
.banner > a{
  position: absolute;
  width: 100px;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(114, 63, 251, 0.5);
  top: 35%;
  left: 47%;
}
.banner a:hover{
  background-color: rgba(220, 220, 220, 0.5);
  color: #222328;
}
/* 바로가기 */
.direct{
  background: url(../resource/Contents/direct/direct.jpg);
}
.direct > a {
  position: absolute;
  width: 100px;
  padding: 14px 0;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(114, 63, 251, 0.5);
  top: 35%;
  left: 80%;
}
.direct a:hover{
  background-color: rgba(220, 220, 220, 0.5);
  color: #222328;
}


/* 푸터 */
footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #222328;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div:nth-child(1) {
  width: 20%;
  margin: 30px;
}
footer div:nth-child(2) {
  width: 60%;
  color: #777777;
  margin: 40px;
}
footer div:nth-child(3) img {
  border-radius: 50%;
  margin: 10px;
}


/* 모달 */
#modalWrap{
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#modalWrap.active{
  display: block;
}
.modal{
  width: 450px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50%);
  background: #ffffff;
  border: 1px solid;
}
.modal > h1{
  margin: 10px 0;
  text-align: center;
}
.modal > p{
  text-align: justify;
}
.btn{
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #723ffb;
  color: #ffffff;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}